<h1>Menú de contenido</h1>
<ol>
    <li><h2>Módulo I</h2>
        <ul>
            <li>
                <h4>
                    <a [routerLink] = "['/componente']">Componente</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/ciclo-de-vida']">Ciclo de vida</a>
                </h4>
            </li>
        </ul>
    </li>
    <li><h2>Módulo II</h2>
        <ul>
            <li>
                <h4>
                    <a [routerLink] = "['/poo']">Programacion Orientada a Objetos</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/typescript']">Typescript</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/directivas']">Directivas</a>
                </h4>
            </li>
        </ul>
    </li>
    <li><h2>Módulo III</h2>
        <ul>
            <li>
                <h4>
                    <a [routerLink] = "['/pipes']">Pipes</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/eventos']">Eventos</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/comunicacion']">Decoradores y Comunicación de componentes</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/formularios']">Data Binding y Formularios</a>
                </h4>
            </li>
        </ul>
    </li>
    <li><h2>Módulo IV</h2>
        <ul>
            <li>
                <h4>
                    <a [routerLink] = "['/servicios']">Servicios</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/angular-material']">Angular Material</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/ejemplo-i']">Ejemplo I</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/ejemplo-ii']">Ejemplo II</a>
                </h4>
            </li>
            <li>
                <h4>
                    <a [routerLink] = "['/ejemplo-iii']">Ejemplo III</a>
                </h4>
            </li>
        </ul>
    </li>
    <li><h2>Modulo IV</h2>
        <ul>
            <li>
                <h4>
                    <a [routerLink] = "['/proyecto-final']">Proyecto Final</a>
                </h4>
            </li>
        </ul>
    </li>
</ol>
